@page
@model Fisketorvet.Pages.Stores.AllStoresModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Fisketorvet.Models
@{
    ViewData["Title"] = "All Stores";
}
@{ string adminUsername = HttpContext.Session.GetString("admin");
}
<h1>All Stores</h1>

@if (!String.IsNullOrEmpty(adminUsername))
{
    <p>
        <a asp-page="CreateStore">Create New Store</a>
    </p>
}

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Offer </th>
            <th> Contact </th>
            <th> Image </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model.Stores)
        {
            <tr>
                <td>@store.StoreName</td>
                <td>@store.Offer</td>
                <td>@store.TelContact</td>
                <td>
                    <img src="~/Images/StoresImages/@store.ImageName" width="130" height="65">
                </td>
                <td>
                    <p>
                        <a asp-page="ProductsOfStore" asp-route-storename="@store.StoreName">Products of store</a> |
                        @if (!String.IsNullOrEmpty(adminUsername))
                        {
                            <a asp-page="DeleteStore" asp-route-id="@store.StoreId">Delete</a>
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>