@page
@model Fisketorvet.Pages.Stores.CreateStoreModel
@{
    ViewData["Title"] = "CreateStore";
}

<h1>Create Store</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="@Model.Store.StoreId" class="control-label"> Id </label>
        <input asp-for="@Model.Store.StoreId" class="form-control" />
        <span asp-validation-for="@Model.Store.StoreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.StoreName" class="control-label">Name </label>
        <input asp-for="@Model.Store.StoreName" class="form-control" />
        <span asp-validation-for="@Model.Store.StoreName" class="text-danger"></span>

    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.Store.TheStoreType" class="control-lable"></label>
        <select asp-for="@Model.Store.TheStoreType" class="custom-select">
            <option value="">Select type of Store</option>
            <option value="1">Restaurant</option>
            <option value="2">Shop</option>
        </select>
        <span asp-validation-for="@Model.Store.TheStoreType" class="text-danger"></span>
    </div>    
    <div class="form-group">
        <label asp-for="@Model.Store.TelContact" class="control-label"> Contact Number </label>
        <input asp-for="@Model.Store.TelContact" class="form-control" />
        <span asp-validation-for="@Model.Store.TelContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.Offer" class="control-label">Offer</label>
        <input asp-for="@Model.Store.Offer" class="form-control" />
        <span asp-validation-for="@Model.Store.Offer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.ImageName" class="control-label"> Image name </label>
        <input asp-for="@Model.Store.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Store.ImageName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
