@page "{id}"
@model Fisketorvet.Pages.Stores.DeleteStoreModel
@{
    ViewData["Title"] = "DeletePage";
}

<h1>Delete Store</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Store.StoreId" class="control-label"> Id </label>
        <input asp-for="@Model.Store.StoreId" class="form-control" />
        <span asp-validation-for="@Model.Store.StoreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.StoreName" class="control-label">Name </label>
        <input asp-for="@Model.Store.StoreName" class="form-control" />
        <span asp-validation-for="@Model.Store.StoreName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.TheStoreType" class="control-label">Name </label>
        <input asp-for="@Model.Store.TheStoreType" class="form-control" />
        <span asp-validation-for="@Model.Store.TheStoreType" class="text-danger"></span>
    </div>
    @*<div class="form-group">
            <label asp-for="@Model.Store.TheStoreType" class="control-label">Type of Store</label>
            <select asp-for="@Model.Store.TheStoreType" asp-items="@(Html.GetEnumSelectList<Fisketorvet.Models.Store..StoreType>())" class="form-control"></select>
            <span asp-validation-for="@Model.Store.TheStoreType" class="text-danger"></span>
        </div>*@
    @*<div class="form-group">
            <label asp-for="@Model.Store.TheShopType" class="control-label">Type of Shop</label>
            <select asp-for="@Model.Store.TheShopType" asp-items="@(Html.GetEnumSelectList<Fisketorvet.Models.Store.ShopType>())" class="form-control"></select>
            <span asp-validation-for="@Model.Store.TheShopType" class="text-danger"></span>
        </div>*@
    <div class="form-group">
        <label asp-for="@Model.Store.TelContact" class="control-label"> Contact Number </label>
        <input asp-for="@Model.Store.TelContact" class="form-control" />
        <span asp-validation-for="@Model.Store.TelContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.Offer" class="control-label">Offer</label>
        <input asp-for="@Model.Store.Offer" class="form-control" />
        <span asp-validation-for="@Model.Store.Offer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Store.ImageName" class="control-label"> Image name </label>
        <input asp-for="@Model.Store.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Store.ImageName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-primary" />
    </div>
</form>
