@page
@model Fisketorvet.Pages.Products.AllProductsModel
@using Fisketorvet.Interfaces
@inject IProductRepository repository
@{
    ViewData["Title"] = "AllProductsAdmin";

}

<h1>List of all Products</h1>

<p>
    <a asp-page="CreateProduct">Create New Product</a>
</p>

<div>
    <ul>
        <li> There are @repository.AllProducts().Count products</li>
    </ul>
</div>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Store </th>
            <th> Price </th>
            <th> Image </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.ProductName</td>
            <td>@p.Price</td>
            <td>
                <img src="~/Images/ProductImages/@p.ImageName" width="90" height="130">
            </td>
            <td>                
                @*<a asp-page="DeleteProduct" asp-route-id="@p.ProductId">Delete</a>*@
            
                <a asp-page="/Orders/ShoppingCart" asp-route-productid="@p.ProductId"
                   class="btn btn-success btn-group-lg pull-right">
                    Add To Cart
                </a>   
            </td>
        </tr>
        }
    </tbody>
</table>
