@page
@model Fisketorvet.Pages.Customers.AllCustomersModel
@{
    ViewData["Title"] = "AllCustomers";
}
<h1>All Customers</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Customers/CreateCustomer">Create New Customers</a>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <form>
                <p>
                    Search: <input type="text" asp-for="FilterCriteria"/>
                            <input class="btn btn-primary btn-sm" type="submit" value="Filter">
                </p>
            </form>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th> Customer Id </th>
            <th> Name </th>
            <th> Address </th>
            <th> Phone Number </th>
            <th> Email Address </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Customers != null)
        {
            @foreach (var customer in Model.Customers)
            {
             <tr>
                <td>@customer.Value.CustomerId </td>
                <td> @customer.Value.Name</td>
                <td>@customer.Value.Address </td>
                <td>@customer.Value.PhoneNumber </td>
                <td>@customer.Value.Email </td>
                <td>
                    <a asp-page="EditCustomer" asp-route-id="@customer.Key">Edit</a>
                    <a asp-page="DeleteCustomer" asp-route-id="@customer.Key">Delete</a>
                </td>
             </tr>
            }
        }
    </tbody>
</table>