@page
@model Fisketorvet.Pages.Products.AllProductsModel
@using Microsoft.AspNetCore.Http
@using Fisketorvet.Interfaces
@inject IProductRepository repository
@{
    ViewData["Title"] = "AllProducts";
}

@{ string adminUsername = HttpContext.Session.GetString("admin");
}

<h1>List of all Products</h1>

@if (!String.IsNullOrEmpty(adminUsername))
{
    <p>
        <a asp-page="CreateProduct">Create New Product</a>
    </p>
}

<div>
    <ul>
        <li> There are @repository.AllProducts().Count products</li>
    </ul>
</div>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Store </th>
            <th> Price </th>
            <th> Image </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.ProductName</td>
            <td>@p.Price</td>
            <td>
                <img src="~/Images/ProductImages/@p.ImageName" width="90" height="130">
            </td>
            <td>
                @if (!String.IsNullOrEmpty(adminUsername))
                {
                    <a asp-page="DeleteProduct" asp-route-id="@p.ProductId">Delete</a>
                }
                else
                {
                    <a asp-page="/Orders/ShoppingCart" asp-route-id="@p.ProductId"> Add To Cart </a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
